html, body {
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

p {
	text-align: center;
}

div {
	background-color: #485960;
	border-radius: .25rem;
	box-shadow: 4px 4px 4px 2px #444;
	color: #fff;
	cursor: pointer;
	height: 1.8rem;
	line-height: 1.8rem;
	margin: .8rem auto;
	text-align: center;
	width: 10rem;
}

.active {
	background: #eee;
	border: 2px solid #eee;
	box-shadow: 1px 1px 1px 1px #333;
	color: #333;
}